@media (min-width: 1200px){
    .container {
        width: 1180px;
    }
}
.navbar-default{
    border-radius: 0;
}
#content{
    margin-top: 20px;
}
.navbar-brand{
    padding: 5px 15px;
}
#dropzone{
    border: 3px dashed #2196F3;
    border-radius: 4px;
    background: #F0F4C3;
    margin: 12px 0;
    padding: 12px;
    text-align: center;
}
.dropzone{
    min-height: 100px;
    height: 100px;
}
.footer-copyright{
    margin-top: 40px;
}
.create-game{
    border:1px solid #aaa;
    background-color:#2196f3 !important;
    color: #fff !important; 
}
.game-box-outer{
        
}
.game-box{
    border: 1px solid #aaa;
    margin: 4px;
    position: relative;
    -webkit-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
}
.pic-title{
    position: absolute;
    bottom:0;
    padding:4px 4px;
    width: 100%;
    background-color: rgba(255,255,255,0.7);
    color: #222;
    font-weight: bolder;
    text-overflow:;
    font-size: 18px;

}
.mynav{
    background-repeat: repeat-y;
}
.showonloaded{
    display: none;
    overflow-x: hidden;
}
.game-nav{
    height: 36px;
    display: block;
    margin: 8px 0;
}
.game-nav img{
    float: left;
    margin-right: 10px;
    vertical-align: top !important;
}
.game-nav label{
    float: left;
    margin-right: 60px;
    line-height: 36px;
    font-size: 20px;
}
#btn-playagain{
    display: none;
    margin-right: 4px;
}
#btn-help{
    font-weight: bolder;
    display: none;
}
.game-section{
    max-width: 540px;
    max-height: 540px;
    position: relative;
}
#canvas{
    top: 0;
    left: 0;
    position: absolute;
    border:1px solid #aaa;
    background-color: #efefef;
    box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
    -webkit-box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
    -moz-box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
}
#game-cover{
    top: 0;
    left: 0;
    position: absolute;
}
#game-cover img{
    position: absolute;
    top: 0;
    left: 0;
}
#start-btn{
    padding: 12px;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: none;
}
#game-time{
    font-weight: bolder;
    color: #222;
}
.game-nav{
    width: 360px;
}   
#game-share{
    width: 100px;
}
#game-complete{
    width: 400px;
    height: 400px;
    display: none;
    background:rgba(255,255,255,0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ddd;
    box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
    -webkit-box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
    -moz-box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
}
#game-over{
    width: 400px;
    height: 400px;
    display: none;
    background:rgba(255,255,255,0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ddd;
    box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
    -webkit-box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
    -moz-box-shadow: 1px 1px 13px 1px rgba(117,117,117,1);
}
#congrat{
    display: block;text-align: center;
    font-size: 30px;
}
#final-time{
    display: block;text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
#share-btn{
    display: block;
    margin: auto;
}
.myalert{
    font-weight: bold;
}
.final-message{
    font-weight: bold;
    padding: 4px 8px;
    border: 1px solid rgb(170, 170, 170);
    width: 90%;
    display: block;
    margin: 4px auto;
    background-color: rgb(204, 204, 204);
}
.iframe-link{
    background-color: #fff !important;
    font-weight: 12px;
    color: #222;
}